doctype html
html
    head
        title= title
        script(src='js/lib/jquery-2.1.4.min.js')
        script(src='js/lib/bootstrap.min.js')
        script(src='js/lib/react.js')
        script(src='dist/index.js')

    body
        block header
        block nav
        block content
        block footer
