doctype html
html
    head
        title= title
        link(rel='stylesheet' href='../css/bootstrap.min.css')
        script(src='js/lib/jquery-2.1.4.min.js')
        script(src='js/lib/bootstrap.min.js')
        script(src='js/dist/index.build.js')

    body
        block header
        block nav
        block content
        block footer
