doctype html
html
    head
        title= title
        link(rel='stylesheet' href='../css/bootstrap.min.css')
        script(src='../js/lib/jquery-2.1.4.min.js')
        script(src='../js/lib/bootstrap.min.js')
        script(src='../js/lib/react.js')
        script(src='../js/lib/plugins/jsoneditor.min.js')

        script(src='../dist/editor.js')

    body
        div.editor-container
            div.col-xs-3.editor-toolbar
                div.row
                    block toolbar
            div.col-xs-9.editor-panel
                div.row
                    block panel

