doctype html
html
    head
        title= title
        script(src='../js/lib/jquery-2.1.4.min.js')
        script(src='../js/lib/bootstrap.min.js')
        script(src='../js/lib/react.js')
        script(src='../dist/editor.js')
    body
        div.row
            div.col-xs-3
                block toolbar
            div.col-xs-9
                block panel
