doctype html
html
    head
        title= title
        link(rel='stylesheet' href='../src/css/bootstrap.min.css')
        link(rel='stylesheet' href='../src/css/font-awesome.min.css')
        script(src='src/js/lib/jquery-2.1.4.min.js')
        script(src='src/js/lib/bootstrap.min.js')
        script(src='assets/vendors.build.js')
        script(src='assets/editor.build.js')

    body
        div.container-fluid.editor-container
            div.row.editor-container
                div.col-xs-2.editor-toolbar
                    div.row
                        block toolbar
                div.col-xs-10.editor-panel
                    div.row
                        block panel

