extends crawler_layout

block content
    div.col-xs-12
        h1 Crawler For Jenkins Server
        hr
    div.row
        div#crawler
    div.row.history-panel
        h2 Crawler History File
        div.col-xs-5#crawler-history
