html, body {
    margin: 0;
    height: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.editor-container {
    height: 100%;
}

div.editor-toolbar {
    background-color: #565151;
    height: 100%;
}

div.editor-panel {
    background-color: #EEFAFF;
    height: 100%;
}